afc_magic.egg-info/
build/
dist/
dist/.idea
policies/__pycache__/
shared/__pycache__/
.DS_Store
.idea/
afc_magic/__pycache__/
afc_magic/afc/__pycache__/
afc_magic/aruba/__pycache__/
afc_magic/shared/__pycache__/
